body {
    background-color:#FAC5B4; 
    margin: 10px;
    padding:10px;
}


#home {
    text-align: center;
    padding: 40px;

}

#home h1 {
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    text-shadow:2px 2px 5px purple;
}

#content h2 {
    font-size: 20px;
    text-align: center;

}

nav {
    opacity: 0.9;
}

h1{
    font-size:35px;
}
h3{
    font-size:30px;
}
h6{
    font-size:30px;
}
}
body,h5 {
    font-size: 15px;
}

@media(min-width:768px) {
    body,h5 {
        font-size: 20px;
        margin-top:10px
    }
    h2{
        font-size:25px;
    }
    nav{
        font-size:14px;
    }
     .item {
    width:80%;
    margin-left:60px;
}
    
}

@media(min-width:840px) {
    body,h5{
        margin-top:10px;
        font-size:20px;
    }
    nav{
        font-size:16px;
    }
   .item {
    width:80%;
    margin-left:80px;
}
#myCarousel{
    width:80%;
}
}
@media(min-width:1000px) {
    nav{
        font-size:20px;
    }
    body,h5{
        font-size:25px;
    }
    .item {
    width:70%;
    margin-left: 140px;
}
} 


#home{
    width:100%;
    height:100%;
    background-color: #FAC5B4;
}
#content{
    width:100%;
    height:100%;
    background-color:#ffa4a4 ;
    border:2px dashed red;
    padding:6px;

}
