body{
    background-color:#FAC5B4;
}


#home{
    text-align:center;
    padding:40px;
    
}
#home h1{
    font-size:40px;
    font-family: 'Dancing Script', cursive;
}

#content h2{
    font-size:20px;
    text-align: center;
    
}